
.div_title {
    height: 180px;
    background: #FDF4FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.div_header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding-left: 64px;
    padding-right: 64px;
    background-color: #E8F8F8;

}

.div_name_product {
    display: flex;
    vertical-align: middle;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
    color: #1A6557;
}

.div_info_student {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25px;
    background: #40E3BD;
    font-weight: 400;
    font-size: 16px;
    font-style: italic;
}

.div_guide {
    margin-left: 64px;
    width: 512px;
}

#guide {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}

.div_button_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#button_login {
    cursor: pointer;
    background-color: #40E3BD;
    border-radius: 6px;
    color: #FFFFFF;
    border-color: rgba(0, 0, 0, 0);
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #1A6557;
}

.div_content {
    margin-top: 20px;
    padding: 0px 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* buttons */
.div_input_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.div_selection_info {
    width: 512px;
    display: flex;
    margin-left: 64px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.div_predict_button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.button_format_data {
    padding: 8px 20px;
    gap: 10px;
    width: 98px;
    height: 37px;
    border-radius: 6px;
    font-size: 14;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    border: transparent;
    margin-right: 16px;
}

#button_predict {
    background: #40E3BD;
    border-bottom: 3px solid #4C1D95;
    border-color: rgba(0, 0, 0, 0);
    margin: 10px 0px;
    color: #1A6557;
    font-size: 16px;
    font-weight: 700;
}

#button_delete {
    background: transparent;
    border-bottom: 3px solid #4C1D95;
    border-color: rgba(0, 0, 0, 0);
    margin: 10px 0px;
    color: #000000;
    ;
    font-size: 16px;
    font-weight: 700;
}

.drag-area,
.div_output {
    border: 1px dashed #6B7280;
    width: 512px;
    height: 288px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.drag-area.active {
    border: 2px solid #fff;
}

.drag-area #div_icon {
    font-size: 100px;
    color: #9CA3AF;
}

.drag-area header,
.div_output header {
    font-size: 20px;
    font-weight: 600;
    color: #4B5563;
}

.drag-area span {
    font-size: 16px;
    font-weight: 400;
    color: #4B5563;
    margin: 10px 0 15px 0;
}

.drag-area #button_browser {
    padding: 10px 25px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;

    width: 146px;
    height: 37px;
    color: #FFFFFF;

    background: #7C3AED;
    border-bottom: 3px solid #4C1D95;
    border-radius: 6px;
    border-color: #7C3AED;
}

.drag-area img,
.div_output img {
    max-width: 100%;
    max-height: 288px;
    object-fit: cover;
    border-radius: 5px;
}