.div-logo{
    display: flex;
    flex-direction: row;
    height: 100%;
    background-image: url("../assets/images/top_bg_image.png");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 70% 500px;
}

.div-menu-icon{
    position: fixed;
    width: 50px;
    height: 50px;
    left: 36px;
    top: 36px;
}
.div-menu-icon2{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
    font-size: 0px;
    background: transparent;
    cursor: pointer;
}
.div-body{
    display:block;
    height: 100px;
    text-align: center;
}
.div-border{
    text-align: center;
    font-family: cursive;
    font-size: 24px;
    border: 1.5px solid black;
    padding: 2rem 1rem;
    min-height: 3em;
    width: 60%;
    resize: both;
    margin-left: 20%;
    margin-top: 5%;
    margin-right: 20%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}
.div-update-infor{
    position: fixed;
    width: 50px;
    height: 50px;
    right: 36px;
    top: 36px;
    
}