html,
body,
#root,
.App {
    height: 100%;
}

.div_all {
    display: flex;
    flex-direction: row;
    height: 100%;

    background-image: url("../assets/images/top_bg_image.png");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 50% 317px;
}


/* ---LOGIN div */
.div_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: #E8F8F8;

    /* bottom background */
    background-image: url("../assets/images/bottom_bg_image.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 70% 300px;
}

.div_login p {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #1A6557;
    margin: 0px;
    margin-top: 150px;
}

.div_login input {
    width: 290px;
    height: 32px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 8px rgb(16 185 129 / 10%);
    border-radius: 8px;
    margin-top: 16px;
    border-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset;
    transition: background-color 5000s ease-in-out 0s;
}

.div_error {
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    font-weight: 100;
    margin-top: 8px;
    width: 250px;
}

.div_error p {
    margin: 0px;
    font-weight: 500;
    color: red;
}

.div_login button {
    margin-top: 16px;
    width: 290px;
    height: 40px;
    background: #40E3BD;
    box-shadow: 0px 20px 20px -10px rgb(16 185 129 / 30%);
    border-radius: 8px;
    border-color: transparent;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #1A6557;
}

/* ---INFO div */
.div_info {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div_info #title {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
    margin-top: 150px;
    margin-bottom: 0px;
    ;
    width: 559px;
}

.div_info #student_info {
    width: 559px;
    font-weight: 400;
    font-size: 18px;
    margin: 20px 0px 0px 0px;
}
.div_login input{
    width: 242px;
    margin: 8px;
    font-size: 16px;
}
.div_register{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    
}

.div_register p{
    padding-left: 5px;
    font-size: 16;
}
.div_info img {
    width: 503px;
    height: 412px;
    margin-top: 20px;
}
