.div_login{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div_login p{
    font-size: 20;
    font-weight: 700;
}

.div_login input{
    width: 242px;
    margin: 8px;
    font-size: 16px;
}
.div_register{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    
}

.div_register p{
    padding-left: 5px;
    font-size: 16;
}
